<!DOCTYPE html>
<html lang='en'
      xmlns:th='http://www.thymeleaf.org'
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'
      xmlns:layout='http://www.w3.org/1999/xhtml'
      layout:decorate='~{layout.html}'
>
<head>
    <meta charset='UTF-8'>
    <title th:text='${post.getTitle()}'>Untitled</title>
</head>
<body>

<div layout:fragment='content'>
    <div class='columns'>
        <div class='column is-2 container is-fluid'></div>
        <div class='column container is-fluid'>
            <div id='ReactThumbnailCarousel'
                 th:attr='data-post-id=${post.getId()}'
            ></div>
            <h1 class='title' th:text='${post.getTitle()}'>Untitled</h1>

            <p th:text="${post.getBlog().getPreferredBlogName()}"></p>
            <p th:text="${'@' + post.getBlog().getBlogName()}"></p>
            <div class='mde-preview'>
                <div class='mde-preview-content'>
            <div th:markdown='${post.getContent()}'></div>
                </div>
            </div>
            <div id='ReactRepliesSection' th:attr='data-post-id=${post.getId()}'></div>
        </div>
        <div class='column is-2 container is-fluid'></div>
    </div>
</div>
</body>
</html>