<!DOCTYPE html>
<html
    lang='en'
    xmlns:th='http://www.thymeleaf.org'
    xmlns:sec='http://www.thymeleaf.org/extras/spring-security'
    xmlns:layout='http://www.w3.org/1999/xhtml'
    layout:decorate='~{layout.html}'>
<head>
    <meta charset='utf-8' />
    <meta
        name='viewport'
        content='width=device-width, initial-scale=1, shrink-to-fit=no'
    />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <title th:text='${profileBlog?.blogName}'>Title</title>
</head>
<body layout:fragment='content'>
<section class='hero'>
    <div class='hero-body'>
        <div class='title' th:text='${profileBlog?.preferredBlogName}'></div>
        <div class='subTitle' th:text="${'@' + profileBlog?.blogName}"></div>
    </div>
</section>

<div class='columns'>
    <div id='side-bar' class='column is-2 container is-fluid'>
        <aside class='menu'>
            <p class='menu-label'>
                Top Tags
            </p>
            <ul class='menu-list'>
                <div th:each='tag: ${mostUsedTags}'>
                    <a
                        th:href="@{'/profile/' + ${profileBlog?.blogName + (category != T(com.matamercer.microblog.models.enums.PostCategory).ROOT ? '/' + category.toString().toLowerCase() : '')}(postTagNames=(${tag.getKey().getName()}))}"
                    >
                        <div
                            th:text="${tag.getKey().getName() + ' (' + tag.getValue()} + ')'"
                        ></div
                        >
                    </a>
                </div>
            </ul>
        </aside>
    </div>
    <div class='column container is-fluid'>
        <div class='tabs is-fullwidth'>
            <ul>
                <li th:class="${category == T(com.matamercer.microblog.models.enums.PostCategory).ROOT} ? 'is-active' : ''">
                    <a th:href="@{'/profile/' +  ${profileBlog?.blogName}}">All Posts</a></li>
                <li th:class="${category == T(com.matamercer.microblog.models.enums.PostCategory).MEDIA} ? 'is-active' : ''">
                    <a th:href="@{'/profile/' +  ${profileBlog?.blogName} + '/media'}">Media</a></li>
                <li th:class="${category == T(com.matamercer.microblog.models.enums.PostCategory).REPLY} ? 'is-active' : ''">
                    <a th:href="@{'/profile/' +  ${profileBlog?.blogName} + '/reply'}">Replies</a></li>
            </ul>
        </div>

        <div th:replace='fragments/PostTable :: PostTable (posts=${posts})'>
            PostThumbnail
        </div>
    </div>
    <div class='column is-2 container is-fluid'>
    </div>
</div>
</body>
</html>