<!DOCTYPE html>
<html
    lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout.html}"
>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
        <title>Register</title>
    </head>
    <body layout:fragment="content">
        <div class="columns">
            <div id="side-bar" class="column is-2 container is-fluid"></div>
            <div class="column container is-8 is-fluid">
                <div id="ReactRegisterForm"></div>
            </div>
            <div class="column is-2 container is-fluid"></div>
        </div>
    </body>
</html>
