<!DOCTYPE html>
<html
    lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout.html}"
>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->

        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
        <title>Hello, world!</title>
    </head>
    <body layout:fragment="content">
        <div class="container">
            <h1 class="alert" th:utext="#{message.regSucc}">Success</h1>
            <p></p>
            <a th:href="@{/login}">Login</a>
        </div>
    </body>
</html>
