<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="columns">
        <div class="column is-2 container is-fluid"></div>

        <div class="column container is-fluid">
            <h1 class="title">Create a New Post</h1>
            <!--                    <div id="createPostForm" th:attr="data-csrfParameterName=${_csrf.parameterName}, data-csrfToken=${_csrf.token}"></div>-->
            <form method="post" th:action="@{/newpost}" enctype="multipart/form-data" th:object="${createPostForm}">
<!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

                <div class="field">
                    <label class="label">Title
                    </label>
                    <div class="notification is-danger" th:if="${#fields.hasErrors('title')}">
                        <p
                                th:errors="${createPostForm.title}">
                        </p>
                    </div>
                    <div class="control">
                        <input class="input" type="text" placeholder="Title of the post..."
                               th:field="${createPostForm.title}">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Content
                    </label>
                    <div class="notification is-danger" th:if="${#fields.hasErrors('content')}">
                        <p
                                th:errors="${createPostForm.content}">
                        </p>
                    </div>
                    <div class="control">
                        <textarea class="textarea" name="content" placeholder="Content of the post..."
                                  th:field="${createPostForm.content}"></textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Images
                    </label>
                    <div class="control">
                        <input type="file"
                               name="file" />
                    </div>
                </div>




                <div class="field">
                    <label class="label">Tags</label>
                    <div class="control">
                        <input class="input" type="text"
                               placeholder="Enter tags separated by spaces or quotes for multi-word tags..."
                               th:field="${createPostForm.postTags}">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" th:field="${createPostForm.communityTaggingEnabled}">
                            Allow others to tag your post?
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" th:field="${createPostForm.sensitive}">
                            Mark this post as sensitive?
                        </label>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light">Cancel</button>
                    </div>
                </div>


            </form>
        </div>

        <div class="column is-2 container is-fluid"></div>
    </div>
</div>
</body>
</html>
