<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="columns">
        <div class="column is-2 container is-fluid"></div>
        <div class="column container is-fluid">
            <img th:if="${post.getAttachments().size()>0}" th:src="${'/files/' + post.getAttachments().get(0).getId() + '/' + post.getAttachments().get(0).getName()}"/>
            <p th:text="${post.content}" ></p>
        </div>
        <div class="column is-2 container is-fluid"></div>
    </div>
</div>
</body>
</html>